@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(20, 25, 33, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 72px;
  background: rgba(20, 25, 33, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(20, 25, 33, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 18px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(20, 25, 33, 1);
}
.navigation__list.is-open {
  right: 0;
}
.header-title {
  width: auto;
  height: 36px;
  border-width: 1px;
}
.navigation__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(10, 229, 144, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 72px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 1px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 680px;

  padding: 432px 32px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 439.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Saira Stencil One;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(10, 229, 144, 1);
}

.home-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;

  padding: 20px 0;
}
.home__google-button_image {
  width: 311px;
  height: 56px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 772px;
    padding: 442px 0px 0px;
    background-image: url("/img/home/Frame\ 440.png");
  }

  .home-title {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 96px;
    line-height: 104px;
    letter-spacing: 0%;
    text-align: center;
  }

  .home-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 16px 0;
  }
}
.uniqueness {
  width: 375px;
  margin: auto;
  padding: 64px 16px;
}

.uniqueness-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.uniqueness-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    padding: 148px 88px 0;
  }
  .uniqueness-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 34px;
    height: 430px;
  }

  .uniqueness-item {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    width: 411px;
  }
}
.about {
  padding: 64px 16px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Saira Stencil One;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(10, 229, 144, 1);
}

.about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 88px 86px 0;
    width: 1440px;
  }

  .about-title {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
  }

  .about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    flex-direction: row;
    padding: 32px 0;
  }
  .about-img {
    content: url("/img/Image\ \(1\).png");
  }
}
.reviews {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0;
}

.reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews-item {
  width: 343px;

  padding: 20px;
  border: 1.5px solid rgba(172, 197, 239, 1);
}

.reviews-text-bold {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;

  color: rgba(10, 229, 144, 1);
  padding-top: 12px;
}
.reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 148px 88px 0;
  }

  .reviews-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .reviews-item {
    width: 405px;
    height: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reviews-text-bold {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .reviews-img {
    content: url("/img/Image\ \(3\).png");
  }
}

.faq {
  padding: 64px 16px 10px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-width: 2px;
  background: rgba(20, 25, 33, 1);
  border: 2px solid rgba(10, 229, 144, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Saira Stencil One;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(172, 197, 239, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 124px 89px 0;
    width: 1440px;
  }
  .faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .faq-question {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 64px 16px 0px;
}

.gallery__list {
  padding: 24px 0;
}
.gallery__item {
  width: 298px;
  overflow: hidden;
  position: relative;
  margin: 0 8px;
}
.gallery__item p {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 12px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-button-container-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 148px 88px 0px;
  }

  .gallery__list {
    padding: 20px 0;
  }
  .gallery__item {
    width: 298px;
    overflow: hidden;
    position: relative;
    margin: 0 12px;
  }

  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 28px;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .gallery-button-container-desk {
    display: flex;
  }
  .gallery-button-container-phone {
    display: none;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 64px 16px;
}

.features-list {
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
.features-item {
  width: 343px;
}
.features-img {
  width: 343px;
  height: 320px;
}
.features-text-bold {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(10, 229, 144, 1);
  padding: 12px 0 8px;
}
.features-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 148px 88px 0px;
  }
  .features-list {
    padding-top: 52px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 405px;
  }
  .features-img {
    width: 405px;
    height: 320px;
  }
}
.footer {
  color: rgba(10, 229, 144, 1);
  padding: 44px 78px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;

  color: rgba(10, 229, 144, 1);
}

.footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    background-image: url("/img/Footer.png");
    padding: 272px 88px 64px;
    width: 1440px;
    height: 360px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;

    gap: 385px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
  }
  .footer-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
  }
}
.policy-terms-container {
  padding: 104px 16px 40px;
}
.policy-terms-title {
  font-family: Saira Stencil One;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  color: rgba(10, 229, 144, 1);
}

.policy-terms-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 136px 88px 120px;
  }
  .policy-terms-title {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px 16px;
  background: rgba(20, 25, 33, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(10, 229, 144, 1);
}
.cookie-button-container {
  padding: 32px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: 2px solid rgba(10, 229, 144, 1);
  background-color: transparent;
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  width: 343px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(10, 229, 144, 1);
}
#accept-cookies {
  background: rgba(10, 229, 144, 1);
  color: rgba(20, 25, 33, 1);
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
